<div class="wrapper animate__animated animate__fadeInDown animation-1">
    <div class="section-1">
      <div class="name animate__animated animate__fadeInLeft animation-5 ">
        <i class="uil uil-code-branch "></i>
      </div>
    </div>
  
    <div class="section-2">
      <ul class="list-menu  animate__animated animate__fadeInRight animation-5">
        <li class="item-menu" *ngFor="let item of [1,1,1] ;let i = index">
          <a >
            <span class="item-number">{{i}}.</span>
            <span class="link">link</span>
          </a>
        </li>
      </ul>
    </div>
  </div>