<div class="About-me">
<h1 class="About d-flex justify-content-center" >Acerca de mi </h1>
<div class="container" >
    <p class="description  d-flex justify-content-center animate__animated    animate__fadeInUp animation-17  ">Soy un programador junior con experiencia en lenguajes como JavaScript, Java y Python, así como en tecnologías como Angular, Vue, NodeJs, Bootstrap y WordPress. Tengo estudios acreditados por la Universidad San Tomas y la Universidad Nacional de Colombia, y estoy comprometido en continuar desarrollando mis habilidades y conocimientos en este campo en constante evolución.</p>


</div>
