.wrapper {
    padding: 1rem;
    background-color: var(--color-2);
  }
  
  .title {
    font-size: 4rem;
    color: var(--color-1);
  }
  
  .sub-title {
    padding: .5rem 0;
    color: var(--color-1);
  }
  
  .pre-title {
    padding: .5rem 0;
    color: var(--color-1);
    font-family: 'IBM Plex Sans', sans-serif;
  }
  
  .description {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.8rem;
    letter-spacing: .2px;
    color: var(--color-1);
  }

  .links{
    .block{
      height: 8rem;
      padding: .15rem;
      display: block;
      .block-in{
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
      }
    }
  }