.wrapper {
    padding: 1rem;
    background-color: var(--color-2);
  }
  
  .title {
    font-size: 4rem;
  }
  
  .sub-title {
    padding: .5rem 0;
  }
  
  .pre-title {
    padding: .5rem 0;
    color: #ffffffdb;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  
  .description {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.8rem;
    letter-spacing: .2px;
    color: #ffffff8c;
  }