<div class = "wrapper">
    <div  class="pre-title animate__animated    animate__fadeInUp animation-10"> Hola mi nombre es </div>
    <h1  class="title animate__animated    animate__fadeInUp animation-15 ">Manuel Betancourt P</h1>
    <H2 class="sub-title animate__animated    animate__fadeInUp animation-16">Front-End Developer</H2>
    <p class="description animate__animated    animate__fadeInUp animation-17 tw ">
    </p>

    <div class="link-wrapper">
        <hr>
            <div class="links d-flex flex-wrap">
            <div class="block col-12 col-lg-4" *ngFor="let link  of[1,1,1]">
            <div class="block-in">
                <i class="uil uil-github"></i>

            </div>
        </div>
        </div>

    </div>


</div>