<div class = "wrapper">
    <div  class="pre-title animate__animated    animate__fadeInUp animation-10"> Hola mi nombre es </div>
    <h1  class="title animate__animated    animate__fadeInUp animation-15 tw "></h1>
    <H2 class="sub-title animate__animated    animate__fadeInUp animation-16">Front-End Developer</H2>
    <p class="description animate__animated    animate__fadeInUp animation-17  ">Soy un programador junior con experiencia en lenguajes como JavaScript, Java y Python, así como en tecnologías como Angular, Vue, NodeJs, Bootstrap y WordPress. Tengo estudios acreditados por la Universidad San Tomas y la Universidad Nacional de Colombia, y estoy comprometido en continuar desarrollando mis habilidades y conocimientos en este campo en constante evolución.</p>

    <div class="link-wrapper" style="color: #212b30;">
        <hr>
            <div class="links d-flex flex-wrap">
            <div class="block col-12 col-lg-4" *ngFor="let linkObj  of links">
                <a [href]="linkObj.link" target="_blank">
                    <div class="block-in">
                        <span [innerHTML]="linkObj.icon"></span>
                    </div>
                </a>
        </div>
        </div>

    </div>


</div>