<div class = "wrapper ">
    <div  class="pre-title d-flex justify-content-center animate__animated    animate__fadeInUp animation-10"> Hola mi nombre es </div>
    <h1  class="title d-flex justify-content-center animate__animated    animate__fadeInUp animation-15 tw "></h1>
    <H2 class="sub-title d-flex justify-content-center animate__animated    animate__fadeInUp animation-16">Front-End Developer</H2>

    <div class="link-wrapper" style="color: #212b30;">
        <hr>
            <div class="links d-flex flex-wrap">
            <div class="block col-12 col-lg-4" *ngFor="let linkObj  of links">
                <a [href]="linkObj.link" target="_blank">
                    <div class="block-in">
                        <span [innerHTML]="linkObj.icon"></span>
                    </div>
                </a>
        </div>
        </div>
    </div>




</div>